
:root {
--header-bg: #F0F0F0;
--nav-bg: #00225A;
--title-text: black;
--nav-text: white;
--site-blue: #00225A;
--site-text: white;
}

html {
margin: 0;
padding: 0;
font-family: Arial, Helvetica, sans-serif;
font-size: 16px;
font-size: 62.5%; /* 10px */
}

body {
margin: 0;
padding: 0;
font-family: Arial, Helvetica, sans-serif;
font-size: 1.6rem; /* 16px */
}

@font-face {
font-family: "Lato";
src: url('../fonts/Lato/Lato-Regular.ttf');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: "Roboto";
src: url('../fonts/Roboto/Roboto-Regular.ttf');
font-weight: normal;
font-style: normal;
}





/*
********************************************************************
### Header
********************************************************************
*/

header {
background: var(--header-bg);
}

.header-top {
background: ;
padding: 16px 0px 10px 0px;

}

.site-logo {
display: flex;
justify-content: center;
align-items:  center;
}

.logo-image {
background: ;
margin-right: ;
}

.logo-image img {
width: 60px;
}


.logo-title {
text-align: center;
color: var(--title-text);
font-family: 'Lato', san-serif;
text-transform: uppercase;
font-size: clamp(2.4rem, 4vw + 1rem, 3.5rem);
line-height: 1.2;
padding: ;
word-wrap: break-word;
background: ;
}

.logo-title h1:nth-child(1) {
letter-spacing: 4px;
}

.logo-title h1:nth-child(2) {
letter-spacing: 4px;
font-weight: bold;
}





.main-navigation {
background: var(--nav-bg);
display: flex;
justify-content: space-around;
align-items: center;
}

.menu-button {

}

.menu-button a {
color: var(--nav-text);
}

.menu-button a span {
background: ;
font-size: 4.8rem;
}

.quick-links {
display: flex;
gap: 1.6rem;
}

.quick-links li {
background: ;
}

.quick-links li a {
background: ;
display: block;
padding: 10px 5px;
color: var(--nav-text);
}

.quick-links li a:hover {
background: white;
color: black;
}

/*
********************************************************************
### Hero
********************************************************************
*/

.hero {
display: grid;
grid-template-columns: 1fr;
padding: 1rem;
background: ;
text-align: center;
}

.hero-image {
background: ;
}

.hero-image img {
width: 100%;
height: auto;
}

.hero-info {
background: ;
display: flex;
flex-direction: column;
align-items: center;
}

.hero-info h2 {
font-family: 'Lato';
font-size: 2.4rem;
padding: 2rem;
}

.hero-info p {
font-family: 'Roboto';
font-size: 1.8rem;
line-height: 1.2;
padding: 0 1rem;
}

.hero-info span {
background: ;
margin: 2rem;
display: block;
}

.hero-info span a {
background: var(--site-blue);
color: var(--site-text);
text-decoration: none;
font-family: 'Roboto';
font-size: 2.4rem;
padding: 10px 20px;
border-radius: 20px;
display: block;
}

.hero-info span a:hover {
background: white;
outline: 3px solid var(--site-blue);
color: var(--site-blue);
}


/*
********************************************************************
### Other
********************************************************************
*/

main, header, .site-title, .site-nav, .site-nav li, .site-nav li a, .about, .about p{
background: ;
}
