
:root {
--blue: #48c8ef;
--black: #1c1b22;
--white: #F5F6FB;
}

.parallax {
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}

html {
margin: 0;
padding: 0;
font-family: Arial, Helvetica, sans-serif;
font-size: 62.5%; /* 10px */
}

body {
margin: 0;
padding: 0;
font-family: Arial, Helvetica, sans-serif;
font-size: 1.6rem; /* 16px */
}




/*
********************************************************************
### Header
********************************************************************
*/

header {
background: pink;
}

.header-top {
background: var(--black);
padding: 10px 5px;
}

.site-name {

}

.site-logo-mobile {
background: ;
text-align: center;
}

.site-logo-mobile img {
width: 80px;
max-width: 100%;
height: auto;
}

.site-logo-desktop {
display: none;
}

.site-logo-desktop img {

}

.site-title {
text-align: center;
color: var(--blue);
font-family: 'Lato', san-serif;
text-transform: uppercase;
font-size: 2.9rem;
line-height: 1.2;
padding: ;
word-wrap: break-word;
}

.site-title h1:nth-child(1) {
letter-spacing: 3px;
}

.site-title h1:nth-child(3) {
letter-spacing: 6px;
font-weight: bold;
}

.top-links {

}

.top-links li {

}

.top-links li a {
    
}






/*
********************************************************************
### Other
********************************************************************
*/

main, header, .site-title, .site-nav, .site-nav li, .site-nav li a, .about, .about p{
background: ;
}
